.btn {
  background: red;
  color: #fff;
  border: 0;
}

/* .btn:hover {
    background: green;
} */
.btn:active {
    background: green;
}
/* .text:active {
    background-color: green;
} */
.field-item:focus {
    background-color: #c2caca;
    border: 1px solid red;
}

.field-item:active {
    background-color: #999;
    border: 1px solid green;
}

.btn:focus {
    background-color: purple;
}
/* :focus thuong dung voi cac thanh phan lien quan nhap lieu */
/* lop gia :checked dung cho radio box, hoac checked box */
.gender-field label input:checked ~ span{
    color: red;
    text-decoration: line-through;
}
.job-lists label input:checked ~ span{
    font-style: italic;
    text-decoration: line-through;
    color: red;
}
/* menu-box primary-menu */
.menu-box .primary-menu,
/* dau , trong css co y nghia gi? */
.menu-box #menu-toggle {
    display: none;
}
/*  daon tren van chua hieu */
.menu-box .menu-btn {
    background-color: green;
    padding: 3px 10px;
    color: #fff;
    cursor: pointer;
}
/* phan biet cac cap dong tac dong cau css tu cac vi du */
.menu-box input:checked ~ .primary-menu {
    display: block;
}
.form-register .field-item:disabled {
    background: #704343;
    border: none;
    color: red;
}

/* .content p:empty {
    height: 5px;
    background: red;
} */
/* .content p{
    color: green;
} */
.content .hightlight {
    color: green;
}
.list-position li:first-child{
    color: red;
    font-style: italic;

}
.list-position li:last-child{
    color: green;
    font-style: italic;

}
/*  khi dung first-child va last-child thi phai dung chung 1 selector moi co tac dung */
.product-list .product-item:nth-child(2n+2){
    color: red;

}
.product-list .product-item:nth-child(2n+1){
    color: green;

}