/* thuoc tinh font-family
- tac dung: lam thay doi font chu trong van ban
- cu phap: font-family: <value>
+font-family: ten thuoc tinh
+value: ten font chu(Neu ten font co dau cach=> bo sung vao dau nhay don hoac nhay kep )
=> co the dua nhieu font chu vao cung 1 thuoc tinh font-family

*/
/* nap font vao web
ten thuat ngu: at-rule */
@font-face {
    font-family: "OpenSans";
    src: url('/lession05/font/OpenSans_Condensed-Regular.ttf');
}

.text{
    font-family: 'Times New Roman', Times, serif;
}
.content {
    font-family: "OpenSans", sans-serif;
}

/* serif dung de lam gi? va san-serif dung de lam gi */
/*  tai sao khi vao dev tool muc network phan font lai khong hien thi ra font cua web */
