@import "reset.css";
*,*::after,*::before {
    padding: 0;
    margin: 0;
  /* hack css for brower */
  /* chrome -safari css */
  -webkit-box-sizing: border-box;
  /* firefox */
  -moz-box-sizing: border-box;
  /* microsoft css */
  -ms-box-sizing: border-box;
  /* opera css */
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.text {
    letter-spacing: 5px;
}
.content {
    word-spacing: 5px;
}
/* 
note:
letter-spacing: gian ki tu
word-spacing: gian chu

*/