.form-wrapper h2 {
  border-bottom: 2px solid red;
}
.form-wrapper h2 span {
  border: 2px dashed green;
  border-bottom: 2px solid green;

}

.form-wrapper form {
    background-color: aqua;
}

.form-wrapper table label {
  font-weight: bold;
  font-style: italic;
}
.form-wrapper table input {
  background: rgb(108, 161, 211);
  border: 1px solid red;
  width: 95%;
}
.form-wrapper table .btn-wrap {
  border-top: 1px solid green;
  text-align: center;
}
.form-wrapper table .btn-wrap button {
  background: green;
  color: #fff;
  border: 0;
  width: 150px;
}
.form-wrapper table td {
  padding-top: 5px;
  padding-bottom: 5px;
}
