p ~ ul{
    background: green;
}
/* dau nga bieu thi css tac dong den tat ca the ul dung sau the p, ke ca luc co the div dung duoi */
/* select1 ~ select2 => ben html selector1 se nam truoc selector2
+ selector1 va selector2 phai ngang hang voi nhau
+ selector1 va selector2 phai nam cung 1 cha
+ selector2 nam sau nhung khong can lien tiep(co the co su xen ngang cua cang thanh pham html khac)
*/
.content .block ~ .element p ~ span{
    color: red;
}
.text p + p{
    color: red;
}
/* selector1 + selector2 => chi ap dung cho cac thanh phan lien tiep nhau */
.menu ul{
    list-style: none;
    background: green;
    padding: 5px 15px;
}
.menu ul li{
    display: inline-block;
    color: #fff;
    padding: 0 10px;
    /* border-right: 1px solid #fff; */
}
.menu ul li + li{
    border-left: 1px solid #fff;

}
/* .menu ul li:last-child{
    border: none;
} */

/* *{
    color: aquamarine;
} */
/* dau * tac dong den tat ca cac the html */
.content > *{
    color: black;

}
/* truong hop 1: selector[artribule=""] */
.list-website a[target] {
    color: red ;
}
/* truong hop 2: selector[artribule="value"] */
.form input[type="text"]{
    border: 1px solid greenyellow;
    background: yellow;
}
.list-link a[href^="http://unicode.vn"]{
    color:red;
}
